<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Reusable Rocketry at Purdue</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="RRaP">
        <!-- description -->
        <meta name="description" content="Reusable Rocketry at Purdue Website">
        <!-- keywords -->
        <meta name="keywords" content="rockets, Purdue, reusable, college, students, space, karmin, liquids, electronics">
        <!-- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/rrapFavicon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
        <!-- animation -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/et-line-icons.css') }}" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
        <!-- themify icon -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
        <!-- justified gallery -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/justified-gallery.min.css') }}">
        <!-- magnific popup -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='revolution/css/settings.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='revolution/css/layers.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='revolution/css/navigation.css') }}">
        <!-- bootsnav -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootsnav.css') }}">
        <!-- style -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <!-- responsive css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

    </head>
    <body>   
        <!-- start countdown section -->
        <section class="p-0 full-screen cover-background" style="background: url(static/images/blandBackground.png)">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative full-screen">
                            <div class="slider-typography text-center sm-overflow-auto">
                                <div class="slider-text-middle-main padding-ten-tb">
                                    <div class="slider-text-middle bg-black-opacity sm-padding-15px-all">
                                        <div class="margin-eight-bottom sm-margin-30-bottom"><img src="{{ url_for('static', filename='images/rrapLogoLarger.png') }}" data-rjs="images/logo-white@2x.png" alt="" /></div>
                                        <h6 class="font-weight-300 text-white-2 margin-30px-bottom width-45 mx-auto md-width-60 sm-width-100">We're buliding something amazing</h6>
                                        <div data-enddate="2020/01/01 12:00:00" class="countdown text-center text-white-2 counter-box-5"></div>
                                        <div class="col-12 text-center social-icon-style-10 margin-six-top sm-margin-30px-top sm-no-padding">
                                            <ul class="large-icon mb-0">
                                                <li><a class="instagram text-white-2" href="https://www.instagram.com/reusablerocketryatpurdue/" target="_blank"><i class="fab fa-instagram"></i><span></span></a></li>
                                                <li><a class="facebook text-white-2" href="http://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                                                <li><a class="twitter text-white-2" href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                                                <li><a class="linkedin text-white-2" href="http://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end countdown section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/skrollr.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootsnav.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
        <!-- animation -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/page-scroll.js') }}"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
        <!-- counter -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.count-to.js') }}"></script>
        <!-- parallax -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.stellar.js') }}"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/classie.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/hamburger-menu.js') }}"></script>
        <!-- counter  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/counter.js') }}"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/skill.bars.jquery.js') }}"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/justified-gallery.min.js') }}"></script>
        <!--pie chart-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easypiechart.min.js') }}"></script>
        <!-- instagram -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/instafeed.min.js') }}"></script>
        <!-- retina -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/retina.min.js') }}"></script>
        <!-- revolution -->
        <script type="text/javascript" src="{{ url_for('static', filename='revolution/js/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
